
*{
    margin: 0;
    padding: 0;
}
.content p{
    font-size: 1em;
}
.content h3{
   
}
.header{
    font-size: 1.5em;
    margin-top: 90px; ;
}
.div1,.div2,.div3{
    background-color: gray;
    border: 1px solid black;
    padding: 25px;
    padding-top: 33px;
    margin: 18px;
    width: 27%;
}
.div1 h3,.div2 h3,.div3 h3{
    display: inline;
    border: 1px solid black;
    font-size: 1.25em;
    /* position: relative; */
    position: absolute;
    padding: 0px  45px;
    
   
}
.content{
    margin-top: 150px;
    margin-left: 3%;
    /* margin-right: 27px; */

}
.div1{
   position: relative;
    float: left;
}
.div2{
    position: relative;
    float: left;
}
.div3{
    position: relative;
float: left;
}

.header h1{
    font-family: sans-serif;
    text-align: center;
    margin: 70px;
}
.div1 h3{
    background-color: rgb(124, 90, 110);
    /* top: -18px;
    left: 407px; */
    right: 0;
    top: 0;
}
.div2 h3{
    background-color: rgb(236, 32, 32);
    /* top: -18px;
    left: 440px; */
    right: 0;
    top: 0;
}
.div3 h3{
    background-color: rgb(44, 136, 186);
    /* left: 431px;
    top: -18px; */
    right: 0;
    top: 0;
}
/* media queries */

@media screen and (min-width:768px) and (max-width:991px){
    .div1{
       width: 40%;
        float: left;
    }
    .div2{
       width: 40%;
        float: left;
    }
    .div3{
        width: 88%;
    }
    
}

@media  screen and (max-width:767px) {
    
    .div1{
        width: 90%;
        
     }
     .div2{
        width: 90%;
        
     }
     .div3{
         width: 90%;
     }
     .content{
       
            margin-left: 5%;
            margin-right: 5%;
     }
}
